<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<<<<<<< HEAD
<div class="cart_title">Your Cart</div>
<table>
  <% @cart.line_items.each do |item| %>
    <tr>
      <td><%= item.quantity %>&times;<td>
      <td><%= item.product.title %><td>
      <td class="item_price"><%= number_to_currency(item.total_price) %></td>
    </tr>
  <% end %>

  <tr class="total_line">
	  <td colspan="2">Total</td>
	  <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
  </tr>
</table>

<<<<<<< HEAD
<%= button_to 'Empty cart', @cart, method: :delete, data: {confirm: 'Are you sure?'} %>
=======
<%= render @cart %>
>>>>>>> e70d2e06a57a78c7db7454bae1f08624408ba1fa
=======
<%= button_to 'Empty cart', @cart, method: :delete, confirm: 'Are you sure?' %>
>>>>>>> parent of 039d000... Created partials for cart and line_item
